# created by virtualenv automatically
*
# Virtual environments
venv/
env/

# Compiled Python files
*.pyc
__pycache__/

# Log files
*.log
logs/data_log.csv  # Ignore only data_log.csv in the logs folder

# Allow ReadMe_Logger.md
!logs/ReadMe_Logger.md


# IDE specific
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db
